.App {
  text-align: center;
  padding: 20px;

}
.table_container{
  border: 1px solid #000;
  margin: 0 auto;
  height: 600px;
  width: 600px;
  position: relative;
}
.table{
  border: 1px solid;
  position: absolute;
  /* padding: 10px; */
  min-width:60px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tablepillar{
  background-color: rgb(150, 147, 228);
  border-radius: 50px;
  min-width:30px;
}
.tabledesk{
  background-color: rgb(233, 172, 172);
}
.tabletable{
  background-color: rgb(172, 233, 177);
  border-radius: 30px;
}

.table200{
  min-width: 100px;
  min-height: 60px;
}
.table201{
  min-height: 100px;
  min-width: 60px;
}
.table7, .table8, .table9{
  transform: rotate(90deg);
}

.guests_avatar{
  border-radius: 40px;
}