*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 30px;
}
.form{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
}
#demo-simple-select-standard{
  padding: 10px;
  
}
h5{
  margin-bottom: 17px;
}
h2, p{
  margin-bottom: 10px;
}
